:root {
  --mainBrown: #2d1e1f;
  --mainYellow: #ff9e09;
  --mainGray: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

* {
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  content: "";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.default-background:hover,
.about-background:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.about-background {
  min-height: 100vh;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}
.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}

.footer {
  background: var(--mainBrown);
}

.menu,
.contact {
  background: var(--mainGray);
}

@media (min-width: 640px) {
  .info-text {
    margin-top: 3rem;
  }
}
.textdiv {
  font-size: 0.85rem;
  float: none;
}

.imgdiv {
  max-height: 350px;
  max-width: 350px;
  float: none;
}

@media (min-width: 320px) {
  .imgdiv {
    float: left;
  }

  .textdiv {
    float: right;
    font-size: 1rem;
    margin-top: 7rem;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.icon {
  margin: 1rem auto;
}

.card {
  height: 20rem;
}
